*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", system-ui;
  font-optical-sizing: auto;
}

/* title page */

#title-page span{
  position: relative;
  margin-left: 130px;
  padding: 40px;
  top: 165px;
  color: #E1624F;
  font-size: 16px;
  font-weight: 900; /* Máximo de espessura para o texto */
}

#title-page h1{
  position: relative;
  margin-left: 130px;
  padding: 40px;
  top: 130px;
  font-size: 36px;
  
}


#title-page img{
  margin: 80px;
  padding: 88px;
  margin-bottom: 24px;
  margin-top: 40px;
}

#title-page p{
  margin-right: 200px;
  margin-left: 200px;
  bottom: 80px;
  position: relative;
  text-align: center;
  color: #333333;
  margin-bottom: 40px;
}

hr {
  position: relative;
  border: none; /* Remove a borda padrão */
  height: 1px; /* Define a altura da linha */
  background-color: #ccc; /* Define a cor da linha */
  margin: 20px 170px; /* Define o espaçamento ao redor da linha */
  bottom: 80px;
  margin-bottom: 40px;
}


/* lista de lugar */

#destino1 span{
  position: relative;
  margin-top: 64px;
  margin-left: 130px;
  padding: 40px;
  color: #E1624F;
  font-size: 16px;
  font-weight: 900; /* Máximo de espessura para o texto */
}

#destino1 h1{
  position: relative;
  margin-left: 165px;
  font-size: 36px;
  margin-bottom: 8px;
}

#destino1 p{
margin-left: 170px;
margin-right: 170px;
font-size: 16px;
color: #333333;
}

/* Templo Haedon */

#destino1 img{
  margin: 80px;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 125px;
}

#destino1 h3{
  position: relative;
  bottom: 40px;
  margin-left: 165px;
  font-size: 28px;
}

#texto1{
  position: relative;
  margin-left: 165px;
  margin-right: 130px;
  bottom: 35px;
}

#destino1 ul{
  position: relative;
  margin-left: 165px;
  bottom: 10px;
  font-weight: 600; /* Máximo de espessura para o texto */
}

#destino1 li{
  position: relative;
  margin-left: 32px;
  font-weight: 700; /* Máximo de espessura para o texto */
}

#lista1{
  position: relative;
  right: 175px;
  margin-bottom: 48px;
}


/* Templo Beomeo-sa */

#destino2 img{
  margin-left: 165px;
  margin-bottom: 20px;
}

#destino2 h3{
  position: relative;
  margin-left: 165px;
  font-size: 28px;
}

#texto2{
  position: relative;
  margin-left: 165px;
  margin-right: 140px;
  margin-bottom: 30px;
}

#destino2 ul{
  position: relative;
  margin-left: 165px;
  font-weight: 600; /* Máximo de espessura para o texto */
}

#destino2 li{
  position: relative;
  margin-left: 32px;
  font-weight: 700; /* Máximo de espessura para o texto */
  margin-bottom: 48px;
}


/* Parque Yongdusan */


#destino3 img{
  margin-left: 165px;
  margin-bottom: 20px;
}

#destino3 h3{
  position: relative;
  margin-left: 165px;
  font-size: 28px;
}

#texto3{
  position: relative;
  margin-left: 165px;
  margin-right: 155px;
  margin-bottom: 30px;
}


#destino3 ul{
  position: relative;
  margin-left: 157px;
  font-weight: 600; /* Máximo de espessura para o texto */
  margin-bottom: 120px;
}

#destino3 li{
  position: relative;
  margin-left: 32px;
  font-weight: 700; /* Máximo de espessura para o texto */
}

#destino3 hr{
  position: relative;
  border: none; /* Remove a borda padrão */
  height: 1px; /* Define a altura da linha */
  background-color: #ccc; /* Define a cor da linha */
}

#description{
  position: relative;
  text-align: center;
  bottom: 80px;
  margin-left: 165px;
  margin-right: 130px;
  margin-bottom: 20px;
}

footer{
position: relative;
bottom: 50px;
  text-align: center;
  font-size: 16px;
}
footer img{
 vertical-align: middle;
}